// general colors
$white: #fff;
$black: #000;
$light-tan: #efc978;
$strong-tan: #f5b730;
$bright-blue: #0198fc;


// Declare the color as RGB; SASS will treat this as hex
// $blue: rgb(43, 65, 106);
// $alpha: .5;
// $blue-alpha: rgba($blue, $alpha);

// specific item colors
$header-blue: #39537c;
$header-blue-shadow: #284063;
$header-blue-highlight: #5e88cb;

$main-grey-bg: #5d6771;
$section-cliff-edge: #a1adba;
$section-cliff-bg: #344352;
$section-bg: #454f58;

