@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Raleway');
@import 'normalize';
@import 'variables';
@import 'modules/mainHeader';



body {
  background-color: $main-grey-bg;
}


@mixin icon-colors($base, $hover) {
  
}

.icon-large {
  height: 31px;
  width: 31px;
}