@import 'scss_partials/global_variables';
@import 'scss_partials/mixins';

$indicator-red: #ff7d7d;
$inactive-grey: #949494;

.button-box {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  line-height: 15px;
  margin-top: 5px;

  text-align: center;
}

.button-text-inactive {
  color: $inactive-grey;
}

.button-text-active {
  color: $white;
}

.button-text {
  text-transform: uppercase;
  font-family: Open Sans Condensed, sans-serif;
  font-size: 12pt;

  &:hover {
    cursor: pointer;
  }

}

.indicator-active {
  background-color: $indicator-red;
  height: 2px;
  width: 100%;
  position: relative;
  top: -6px;
  display: inline-block;
}

.indicator-inactive {
  background-color: $indicator-red;
  height: 2px;
  width: 0%;
  position: relative;
  top: -6px;
  display: inline-block;
}
