@import 'scss_partials/global_variables';
@import 'scss_partials/mixins';

$indicator-red: #ff7d7d;
$inactive-grey: #949494;

.button-box {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}

.button-text-inactive {
  color: $inactive-grey;
}

.button-text-active {
  color: $white;
}

.button-text {
  text-transform: uppercase;
  font-family: Open Sans Condensed, sans-serif;
  font-size: 12pt;
}

.button-text:hover {
  cursor: pointer;
}

.indicator-active {
  background-color: $indicator-red;
  height: 2px;
  width: 100%;
}

.indicator-inactive {
  background-color: $indicator-red;
  height: 2px;
  width: 0%;
}
