@import 'scss_partials/global_variables';
@import 'scss_partials/mixins';

$filterbox-bgc: #16212a;
$topedge-bgc: #404b57;
$bottomedge-bgc: #a1adba;

.filters-title {
  @include font-smoothing-prefix();
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: $white;
  margin-top: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15pt;
  font-weight: bold;
  letter-spacing: .5px;
}

.filter-box {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: $filterbox-bgc;
  width: 560px;
  overflow: hidden;
}

.top-edge {
  background-color: $topedge-bgc;
  position: absolute;  
  width: 560px;
  height: 2px;
}

.bottom-edge {
  background-color: $bottomedge-bgc;
  position: absolute;
  width: 560px;
  height: 2px;
  bottom: 0;
}

.box {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}
