.project-text-builtwith {
  @include font-smoothing-prefix();
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: $white;
  margin-top: 20px;
}



.project-text {
  @include font-smoothing-prefix();
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  color: $white;
}

.project-text-description {
  @include font-smoothing-prefix();
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  margin-top: 20px;
  color: $white;
}

.project-links {
  margin-top: 20px;
  font-size: 0;
}

.project-links-icons {
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.project-image-slot {
  background-color: $black;
  height: 3px;
  width: 100%;
  position: relative;
  top: -10px;
}


.previews-row-double {
  width: 100%;
  text-align: center;
}

.project-image-withshadow-single {
  @include font-smoothing-prefix();
  position: relative;
  left: 0;
  top: -6px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0 0 5px $project-img-shadow;
  -o-box-shadow: 10px -10px 5px $project-img-shadow;
}

.project-image-withshadow-double {
  @include font-smoothing-prefix();
  position: relative;
  left: 0;
  top: -6px;
  width: 48%;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0 0 5px $project-img-shadow;
  -o-box-shadow: 10px -10px 5px $project-img-shadow;
}

.project-image-withshadow-triple {
  @include font-smoothing-prefix();
  position: relative;
  left: 0;
  top: -6px;
  width: 32%;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0 0 5px $project-img-shadow;
  -o-box-shadow: 10px -10px 5px $project-img-shadow;
}

.project-image-buffer {
  margin-left: 10px; 
}

.project-image-buffer2 {
  margin-left: 3px; 
}


.image {
  width: 100%;
  max-height: 450px;
}

.preview-block-buttons {
  position: relative;
  padding: 0;
  font-size: 0;
  width: auto;
  margin-top: 10px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.block-button {
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
  height: 5px;
  width: 38px;
  background-color: $light-tan;
  float: left;
  cursor: pointer;
}

.current-image-indicator {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  background-color: $strong-tan;
  height: 2px;
  width: 38px;
  display: inline-block;
}





@media only screen and (min-width: 600px) {
  .project-image-slot {
    background-color: $black;
    height: 3px;
    width: 550px;
    position: relative;
    top: -10px;
  }

  .project-image-withshadow {
    position: relative;
    left: 0;
    top: -6px;
  }

}





